{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% endblock %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <section class="signup">

        <div class="container">
            <div class="signup-content" >
                <h2 class="form-title">{{ 'layout.register'|trans }} </h2>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}

                <div>
                    <input type="submit" class="form-submit" value="{{ 'registration.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}
                <p class="loginhere">
                    Have already an account ? <a href="{{ path ('fos_user_security_login') }} " class="loginhere-link">{{ 'layout.login'|trans  }}
                        </a>
                </p>
            </div>

        </div>


    </section>
{% endblock %}
    {#-----------#}
    {#{% block stylesheets %}#}
    {#    <link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
    {#{% endblock %}#}
    {#{% extends 'base.html.twig' %}#}
    {#{% block content %}#}
    {#{% trans_default_domain 'FOSUserBundle' %}#}

    {#    <div class="main">#}

    {#        <section class="signup">#}
    {#            <!-- <img src="images/signup-bg.jpg" alt=""> -->#}
    {#            <div class="container">#}
    {#                <div class="signup-content">#}
    {#                    <form method="POST" id="signup-form" class="signup-form">#}
    {#                        <h2 class="form-title">Create account</h2>#}
    {#                        <div class="form-group">#}
    {#                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>#}
    {#                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />#}
    {#                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>#}
    {#                        </div>#}
    {#                        <div class="form-group">#}
    {#                            <input type="submit" name="submit" id="submit" class="form-submit" value="{{ 'registration.submit'|trans }}"/>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                    <p class="loginhere">#}
    {#                        Have already an account ? <a href="{{ path ('fos_user_security_login') }} " class="loginhere-link">Login here</a>#}
    {#                    </p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}

    {#    </div>#}
    {#</form>#}
{#{% endblock %}#}